<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>detweet - Cleaning up your twitter</title>

        <!-- Scripts for semantic ui -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Css -->
        <link type="text/css" rel="stylesheet" href="../static/styles/styles.css">
        <link type="text/css" rel="stylesheet" href="../static/styles/Hover-master/css/hover.css">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    </head>
    <body>
        <div class="ui large menu">
          <a class="item">
            <img class="logo" src="../static/images/detweet logo_larger_square.png">
          </a>
	  <h3 id="welcome" class="ui header"> {{ username }}</h3>
            <div class="item">
                <a href="https://twitter.com/detweet_app?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @detweet_app</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="logo-div">
            <img id="logo-large" class="ui center aligned header logo" src="../static/images/detweet logo_larger_square.png">
            <h1>detweet</h1>
        </div>

        <div id="start-detweet-div" class="instructions">
          <h3>This contains the button to start the detweet service. Please click the button to begin!</h3>
            <a href="http://127.0.0.1:5000/get_tweets"><button id="start-button"class="ui black basic button centered"></i>Start</button></a>
        </div>

        <div id="main-container">
          <div class="instructions">
              <h3 class="ui center aligned header"> How to use </h4>
              <p>If you see a tweet that you would like to keep, click the <i class="fa fa-check-circle fa-md"></i>.<br> When you're ready to delete all flagged tweets, just click the button below. </p>
          </div>

          <div class="remove-button">
              <button id="remove-all"class="ui black basic button centered">Remove All Flagged Tweets</button>
          </div>
          <div id="confirm" class="ui basic modal">
              <p>Are you sure you want to delete all tweets?
                  <br> This action is irreversiable.</p>
              <button id="remove"class="ui black basic button">detweet</button>
              <button id="cancel" class="ui black basic button">On second thought...</button>
          </div>

          <div id="up-div">
              <a href="#top"><button id="up-button" class="circular ui icon button inverted hvr-pulse-grow "><i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i>
                </button></a>
          </div>

          <div id="enclosure" class="ui three column stackable grid container">

      	  {% for tweet in tweets %}
      	    {% for key, value in tweet.items() %}
              <div class="column hvr-grow">
                <div id="{{ key }}" class="tweet ui segment">
                    <div class="top">
                        <p>You tweeted:</p>
                    </div>
                    <button class="keep-tweet hvr-pulse-grow"><i class="fa fa-check-circle"></i></button>
                    <p class="tweet-text"> {{ value|safe }}</p>
                </div>
              </div>
      	    {% endfor %}
      	  {% endfor %}

          </div>
        </div>
        <footer>
          <div class="ui center aligned container">
              <div class="follow-div">
                  <h3 class="ui center aligned header">Follow the developers</h3>
                  <a href="https://twitter.com/rglatzell?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @rglatzell</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <a href="https://twitter.com/hemant_heer?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @hemant_heer</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            <div id="divide" class="ui inverted section divider"></div>
            <div class="ui horizontal small divided link list">
              <a class="item" href="#">Site Map</a>
              <a class="item" href="#">Contact Us</a>
              <a class="item" href="#">Terms and Conditions</a>
              <a class="item" href="#">Privacy Policy</a>
            </div>
          </div>
        </footer>

    </body>
    <script src="../static/scripts/tweets.js"></script>
</html>
