<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>deTweet - Cleaning up your twitter</title>
        <link rel="icon" href="../static/images/detweet logo_favicon.png" type="image/gif" sizes="16x16">

        <!-- Scripts for semantic ui -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Css -->
        <link type="text/css" rel="stylesheet" href="../static/styles/styles.css">
        <link type="text/css" rel="stylesheet" href="../static/styles/Hover-master/css/hover-min.css">
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    </head>

    <body>
        <div id="page-container">
                <!-- Content wrapper -->
            <div id="content-wrap">
                <!-- Logo -->
                <div class="logo-div">
                    <img id="logo-large-404" class="ui center aligned header logo hvr-wobble-skew" src="../static/images/detweet logo_larger_square.png">
                </div>

                <!-- Sign in -->
                <div id="404" class="instructions">
                    <h3 class="ui center aligned">Error</h3>
                    <p class="ui center aligned">Oops, how'd you get here? We'll help you find your way back!</p>
                    <a href="https://detweet.online/"><button id="button-404"class="ui basic button centered">Get me out of here!</button></a>
                </div>
            </div>
        </div>
    </body>
    <script src="../static/scripts/tweets.js"></script>
</html>
