<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="../static/images/detweet logo_favicon.png" type="image/gif" sizes="16x16">
        <title>deTweet - Cleaning up your twitter</title>

        <!-- Scripts for semantic ui -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Css -->
<!--        <link type="text/css" rel="stylesheet" href="../static/styles/styles.css"> -->

        <link type="text/css" rel="stylesheet" href="{{ "%s?%s"| format("/static/styles/styles.css", unique_id) }}">

        <link type="text/css" rel="stylesheet" href="../static/styles/Hover-master/css/hover-min.css">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    </head>
    <body>
        <div id="page-container">
                <!-- Content wrapper -->
            <div id="content-wrap">
                <!-- Menu -->
                <div class="ui borderless menu">
                  <a class="item" href="#"><img id="logo-corner" class="logo" src="../static/images/detweet logo_larger_square.png"></a>
                  <div id="welcome">
                    <img id="banner-index" class="ui center aligned" src="../static/images/banner-logo_resize.png">
                  </div>
                  <div id="logout-box-top" class="item">
                    <a href="http://localhost:5000/logout"><button id="logout-button" class="ui basic button button-style">Logout</button></a>
                  </div>
                </div>
                <!-- Logo -->
                <div class="user-profile-div instructions">
                    <div id="profile-content" class="ui unstackable items">
                      <div class="item">
                        <div class="image">
                          <img id="user-image-large" class="ui center aligned header logo" src= {{ img }}>
                        </div>
                        <div class="content">
                          <p class="header">@{{ username }}</p>
                          <div class="description">
                            <p>{{ info }} </p>
                          </div>
                          <div class="extra">
                            <span id="count-info"></span><span id="remaining"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Start detweet -->
                <div id="start-detweet-div" class="instructions">
                    <!--Loading circle -->
                    <div id="load-circle" class="ui dimmer">
                      <div class="ui text loader">Searching...</div>
                    </div>

                      <p>To begin filtering tweets against <strong>deTweet's</strong> database, please click the start button. Or enter a custom search term that you would like to filter against.</p>
                      <button id="start-button"class="ui basic button centered button-style"></i>Start</button>
                      <div id="selection-toggle" class="ui slider checkbox">
                        <input type="checkbox">
                        <label></label>
                      </div>
                      <div id="search-box" class="ui disabled input">
                          <input type="text" placeholder="Search...">
                      </div>
                </div>
                <!-- main container -->
                <div id="main-container">
                  <div id="instruction-box" class="instructions">
                      <p>If you see a tweet that you would like to keep, click the 'Keep me' button.<br> When you're ready to remove the tweets just click the button below, or search again.</p>
                      <div class="remove-button" >
                          <button id="remove-all"class="ui basic button centered button-style">Remove All Flagged Tweets</button>
                          <button id="reset" class="ui basic button button-style">Search Again</button>
                      </div>
                  </div>

                  <div id="confirm" class="ui basic modal">
                      <p>Are you sure you want to delete all tweets?
                          <br> This action is irreversiable.</p>
                      <button id="remove"class="ui basic button button-style">deTweet</button>
                      <button id="cancel" class="ui basic button button-style">On second thought...</button>
                  </div>

                  <div id="up-div">
                      <a href="#top"><button id="up-button" class="circular ui icon button inverted hvr-pulse-grow "><i class="angle double up icon"></i>
                        </button></a>
                  </div>

                  <div id="enclosure" class="ui three column stackable grid container">
                  </div>

                </div>

                <div id="no-results-div" class="instructions">
                  <p>Looks like we didn't find any matches. Want to try again?</p>
                  <button id="search-again-nr" class="ui basic button centered button-style"></i>Search Again</button>
                </div>

                <div id="search-again-div" class="instructions">
                  <p>Thank you for using <strong>deTweet</strong>! Your tweets have been deTweeted! Please give your profile a moment to register the changes.</p>
                  <button id="search-again-r" class="ui basic button centered button-style"></i>Search Again</button>
                  <a href=" https://twitter.com/intent/tweet?via=detweet_app&text=Thank%20you%20deTweet%20for%20helping%20me%20clean%20up%20my%20twitter%20account%21%20%3C3&hashtags=detweet%2Ccleanse%2Capp"><button id="send-tweet" class="ui basic button centered">Tweet about us!</button></a>
                </div>

            </div>
                <!-- Footer -->
            <footer>
              <div class="ui center aligned container">
                  <div class="follow-div">
                      <h4 class="ui center aligned header">Connect with the developers</h4>
                      <a href="https://twitter.com/detweet_app?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @detweet_app</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      <a href="https://twitter.com/rglatzell?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @rglatzell</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      <a href="https://twitter.com/hemant_heer?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @hemant_heer</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                <div id="divide" class="ui inverted section divider"></div>
                <div class="ui horizontal small divided link list">
                  <a class="item" href="#">Contact Us</a>
                  <a class="item" href="#">Privacy Policy</a>
                </div>
              </div>
            </footer>
        </div>
    </body>
    <script src="../static/scripts/tweets.js"></script>
</html>
