<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>deTweet</title>
        <link rel="icon" href="../static/images/detweet logo_favicon.png" type="image/gif" sizes="16x16">

        <!-- Scripts for semantic ui -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Css -->

        <link type="text/css" rel="stylesheet" href="{{ "%s?%s"| format("/static/styles/unfollow.css", unique_id) }}">
        <link type="text/css" rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">


        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    </head>
    <body>
        <div id="page-container">
                <!-- Content wrapper -->
            <div id="content-wrap">
                <!-- Menu -->
                <!-- Logo -->
                <div class="user-profile-div instructions">
                    <div id="profile-content" class="ui unstackable items">
                      <div class="item">
                        <div class="image">
                          <img id="user-image-large" class="ui center aligned header logo" src= {{ img }}>
                        </div>
                        <div class="content">
                          <p class="header">@{{ username }}</p>
                          <div class="description">
                            <p>{{ info }} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Start detweet -->
                <div id="start-detweet-div" class="instructions">
                    <!--Loading circle -->
                    <div id="load-circle" class="ui dimmer">
                      <div class="ui text loader">Searching...</div>
                    </div>

                      <p>To begin filtering users, please click the start button.</p>
                      <button id="user-button"class="ui basic button centered button-style"></i>Start</button>
                </div>
                <!-- main container -->
                <div id="main-container">
                  <div id="instruction-box" class="instructions">
                      <p>If you see a tweet that you would like to keep, click the 'Keep me' button.<br> When you're ready to remove the tweets just click the button below, or search again.</p>
                  </div>

                  <div id="enclosure" class="ui three column stackable grid container">

                  </div>

                </div>

            </div>
                <!-- Footer -->

        </div>
    </body>
    <script src="../static/scripts/tweets.js"></script>
</html>