body {
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tweet {
    background: #c0deed !important;
    border-color: #0084b4 !important;
}

#logo {
    margin-top: 30px;
}

/* Keep Tweet button */
.keep-tweet {
    float: right;
    margin-top: -8px;
    margin-right: -15px;
    background: none;
    border: none;
    font-size: 20px;
    color: green;
}

.keep-tweet:hover {
    color: white;
}
.keep-tweet:active {
    color: darkgreen;
}
/* Keep Tweet button end */

/* Remove All button */
.remove-button {
    text-align: center;
    margin: 20px;
}
