body {
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Quicksand', sans-serif;
}

#logo-large {
    margin-top: 30px;
    width: 150px;
}

.logo {
    border-radius: 50%;
}

.logo-div {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
}

.logo-div h1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: -10px;
}

#main-container {
  display: none;
}

#confirm {
    text-align: center;
    border: 1px solid #0084b4;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px;
    font-size: 15px;
    color: black;
}

.instructions {
    text-align: center;
    border: 1px solid #0084b4;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 5px;
    font-size: 15px;
}

#sign-in {
  height: 300px;
}

#login-button,
#start-button {
  font-size: 15px;
  margin-top: 90px;
  color: #0084b4 !important;
}

#start-detweet-div {
  text-align: center;
  display: ;
}

#login-button:hover,
#start-button:hover {
    background-color: #00acee !important;
    color: white !important;
}

#login-button:active,
#start-button:active {
    background-color: #0084b4 !important;
    color:white !important;
}

#login-button i {
  font-size: 20px;
}

#up-div {
    position: fixed;
    bottom: 30px;
    right: 0;
    z-index: 3000;
}

#up-button {
    float: right;
    margin-right: 30px;
    width: 40px;
    height: 40px;
}

#up-button i {
    margin-top: -6px;
}

/* Tweet Box */
.tweet {
    background: #c0deed !important;
    border-color: #0084b4 !important;
}
.top {
    background-color: #00acee  !important;
    padding: 3px;
    color: white;
    border-radius: 5px;
}
.top p {
    display: inline;
    margin-left: 8px;
}
/* Tweet Box end*/

/* Keep Tweet button */
.keep-tweet {
    float: right;
    margin-top: -24px;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
}

.keep-tweet:hover {
    color: white;
}
.keep-tweet:active {
    color: darkgreen;
}
/* Keep Tweet button end */

/* Remove All button */
.remove-button {
    text-align: center;
    margin: 20px;
}

#welcome {
  margin: 0 auto;
}


#remove-all:hover,
#remove:hover {
    background-color: #00acee !important;
}

#cancel:hover {
    background-color: red !important;
}

footer {
    margin-top: 104px;
    bottom: 0;
    width: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 14%, rgba(255,255,255,0) 86%);
    padding: 10px 0;
}

#divide {
    margin: 0;
}
